# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db
*.log

.vscode/
.idea/
*.swp

# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.test
.env.production

# =========================
# Build outputs
# =========================
dist/
build/
out/

# =========================
# Next.js
# =========================
.next/
.next/cache/

# =========================
# React
# =========================
.cache/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Coverage
# =========================
coverage/

# =========================
# Docker
# =========================
docker-data/
*.pid

# =========================
# AWS / Cloud
# =========================
.aws/
*.pem
*.key

# =========================
# Database
# =========================
*.sqlite
*.db
*.sql

# =========================
# Misc
# =========================
tmp/
temp/





/node_modules
